<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        <style>

            /*need to play with bootstrap here*/
            /*need to also build the 2 boxes below*/

            *{
                margin-left: 10px;
                margin-right: 10px;
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>

<body>
    <div>
        <h1>Consistent</h1>
        <h3>box for username</h2>
        <h3>box for password</h2>
    </div>

</body>
</html>