{% extends "base.html" %}

{% block content %}

<h4>You're on a x day steak!</h4>
<!--add # of days of streak -->

<div class="btn-group">
        <a href="#lift"><button type="button" class="btn btn-primary">Lift</button></a>
        <a href="#analyze"><button type="button" class="btn btn-primary">Analyze</button></a>
        <a href="#measure"><button type="button" class="btn btn-primary">Measure</button></a>
</div> 
<br>

<br>

<article>

<a name="lift"></a>
<h2>Lift</h2>

<form>
<select name="zone" onchange='this.form.submit()'>
        <option select>Pick a Zone</option>
        <option>Shoulders</option>
        <option>Back</option>
        <option>Chest</option>
        <option>Biceps and Triceps</option>
        <option>Butt and Legs</option>
</select>
<noscript><input type="submit" value="Submit"></noscript>
</form>

</article>

<br>

<article>

<a name="analyze"></a>
<h2>Analyze</h2>
<h4>Charts.  Nice graphs.
Visuals for folks to see their progress.</h4>

</article>

<br>

<article>

<a name="measure"></a>
<h2>Measure</h2>
<h4>There would be stats on body part measurements here.
Weight?  Maybe.</h4>

</article>

{% endblock %}
