{% extends "base.html" %}

{% block content %}

<h3>Select A Zone</h3>
<h5>Remember to hydrate and take short breaks.</h5>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Zone
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="#">SHOULDERS</a></li>
        <li><a href="#">BACK</a></li>
        <li><a href="#">CHEST</a></li>
        <li><a href="#">BISCEPS and TRICEPS</a></li>
        <li><a href="#">BUTT and LEGS</a></li>
    </ul>
</div> 

{% endblock %}

