{% extends "base.html" %}

{% block content %}

    <form method='post'>
        <label>
            <b>Username:</b><br>
            <input name='username' type="text" value='{{username}}' />
            <p class="error">{{username_error}}</p>
        </label>
    
        <label>
            <b>Password:</b><br>
            <input name='password' type="password" value='{{password}}' />
            <p class="error">{{password_error}}</p>
        </label>

            <input type="submit" value="Let's go!" />
            <br>
            <br>
            <li>Create an account.</li>
            <li>Forgot password?</li>
    </form>

{% endblock %}